<%- include("header") -%>

<h1>About Page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil harum sequi tempora sapiente temporibus ratione quis consectetur nesciunt sint! Quidem, quaerat excepturi. Error, dicta distinctio dolorem recusandae quibusdam soluta aut?</p>

<%- include("footer") -%>